<tr>
  <td><%= recommendation.rank %></td>
  <td><%= link_to recommendation.repo.full_name, recommendation.repo.url %></td>
  <td>
    <%= octicon(:eye) %>&nbsp;<%= recommendation.repo.watchers %>
    <%= octicon(:star) %>&nbsp;<%= recommendation.repo.stargazers %>
    <%= octicon(:repo_forked) %>&nbsp;<%= recommendation.repo.forks %>
  </td>
</tr>
