<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GitHub Recommender" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "GitHub Recommender", root_url %></h1>
        </li>
      </ul>

      <% if current_user.present? %>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <%= link_to '#' do %>
            <%= image_tag current_user.avatar_url, class: 'nav--avatar' %><span class="nav--login"><%= current_user.login %></span>
            <% end %>
            <ul class="dropdown">
              <li><%= link_to 'Logout', sessions_url, method: 'delete' %></li> 
            </ul>
          </li>
        </ul>
      </section>
      <% end %>
    </nav>

    <section class="main">
      <div class="row layout--content">
        <div class="small-12 small-centered columns">
          <% if flash.present? %>
          <% flash.each do |flash_type, flash_message| %>
          <div data-alert class="alert-box <%= flash_type %>">
            <%= flash_message %>
            <a href="#" class="close">&times;</a>
          </div>
          <% end %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </section>

    <div class="layout--footer">
      <div class="row">
        <div class="small-12 small-centered columns layout--footer-content">
          <ul class="layout--footer-list">
            <li class="layout--footer-list-item">Copyright &copy; <%= Date.today.year %> by <%= link_to "ArangoDB", "http://arangodb.org" %></li>
            <li class="layout--footer-list-item">Source on <%= link_to "GitHub", "http://github.com" %></li>
            <li class="layout--footer-list-item">Hosted on <%= link_to "Heroku", "http://heroku.com" %> with the <%= link_to "myArangoDB Addon", "http://myarangodb.com" %></li>
          </ul>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
